<section id="main-content" class="container main_content homepage">
  <header class="container header">
    <h1> Bilal's Blog </h1>
    {{ partial "bloc/content/lastupdate" . }}
  </header>

  <div id='home-info'>
    This site contains my blog and various bits of code that I have written in my free time. I also have a page about my <a href="research"> research</a>.
  </div>


  <h2> Latest <a href="{{ "/posts" | absURL }}"> posts </a></h2>

  {{ $pagesIn := ( first 5 (where .Data.Pages "Type" "post")) }}
  <ul id="all-posts">
    {{ $pagesIn := ( first 5 (where .Data.Pages "Type" "post")) }}
    {{ range $index, $pagesIn }}
      {{ .Render "posts-li" }}
    {{ end }}
  </ul>

  <h2> Latest <a href="{{ "/code" | absURL }}"> code </a></h2>

  <ul id="all-posts">
    {{ $pagesIn := ( first 4 (  sort (where .Data.Pages "Type" "code") "Params.num" )) }}
    {{ range $index, $pagesIn }}
    <li>
      <a href="{{ .Permalink }}">{{ partial "modules/page/title" . }}</a>
    </li>
    {{ end }}
  </ul>


</section>
