{{ range .Params.badges }}
<a class="badge" href="{{ .url }}">
  <img title="{{ if .title }}{{ .title }}{{ else }}{{ .alt }}{{ end }}" alt="{{ .alt }}" src="{{ .img }}">
</a>
{{ end }}

{{ with .Params.github }}
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/{{ . }}"  aria-label="View {{ . }} on GitHub">Github</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/{{ . }}/issues" data-icon="octicon-issue-opened" aria-label="Support for {{ . }} on GitHub">Support</a>

{{ end }}
