{{ partial "head" . }}
<section id="main-content" class="container main_content section">
  <header class="container">
    {{ partial "bloc/content/h1-title" . }}
  </header>

  <div class="split floatfix">
    <ul>
      {{ $len := len .Data.Pages }}
      {{ range $index, $ele := sort .Data.Pages "Params.num" }}
        <li>
          <a class='atitle'  href="{{ .Permalink }}">{{ partial "modules/page/title" . }}</a>
          <span class="quiet small">
            {{ delimit .Params.languages "&nbsp;&nbsp;" }}
          </span>
          <br>
          <div>
            <p> {{.Params.info}} </p>
            <a href="{{ .Permalink }}">Read more...</a>
          </div>
        </li>

        {{ if eq  $index (add $len -2)  }}
        <li>
          <a class='atitle'  href="{{  "tagger" | absURL }}">Tagger</a>
          <span class="quiet small">
            C++&nbsp;&nbsp;Objective C&nbsp;&nbsp;Ruby
          </span>
          <br>
          <div>
            <p> Tagger is an application that auto tags audio files. It also supports batch tag editing. </p>
          </div>
        </li>
        {{ end }}

      {{ end }}

      <li>
        <a class='atitle'  href="https://github.com/Bilalh">Other Projects</a>
        <span class="quiet small">
          Various
        </span>
        <br>
        <div>
          <p> Other projects are hosted on Github </p>
        </div>
      </li>

    </ul>
  </div>
</section>


{{ partial "foot" . }}
